<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Dashboard 2</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="/Admin/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/Admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="/Admin/dist/css/adminlte.min.css">
    <script src="/Admin/plugins/jquery/jquery.min.js"></script>
</head>
<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__wobble" src="/Admin/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
        </div>
        <nav class="main-header navbar navbar-expand navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="index3.html" class="nav-link">Anasayfa</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">İletişim</a>
                </li>
            </ul>

        </nav>

        <aside class="main-sidebar sidebar-dark-primary elevation-4">

            <a href="index3.html" class="brand-link">
                <img src="/Admin/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">AdminLTE 3</span>
            </a>

            <div class="sidebar">

                

                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                        <li class="nav-item menu-open">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                   Ayarlar 
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Vehicle/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Marka Ekle</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/VehicleModel/Model" class="nav-link active">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Model Ekle</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Province/Province" class="nav-link active">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>İl Ekle</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/VehicleDefintion/VehicleDefintion" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p> Araba Özellikleri</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Vehicles/Vehicle" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p> Plaka Ekle</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Rota/Rota" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p> Rota Ekle</p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item menu-open">
                            <a href="" class="nav-link active">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                  Sefer Bilgileri
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/humans/Sefer" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Seferler</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Humans/HumanAdd" class="nav-link active">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Kişi Ekle</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Bilet/BiletBul" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Bilet Bul</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="./index3.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Stok Bilgisi</p>
                                    </a>
                                </li>
                            </ul>
                        </li>


                    </ul>
                </nav>

            </div>

        </aside>


        <div class="content-wrapper">

            <div class="content-header">
                @RenderBody()
            </div>

        </div>

        <aside class="control-sidebar control-sidebar-dark">
        </aside>
        <footer class="main-footer">
            <strong>Copyright &copy; 2014-2023 <a href="https://adminlte.io">Hoşgeldiniz</a>.</strong>
            Sitemizde
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 3.2.0
            </div>
        </footer>
    </div>
    <script src="/Admin/plugins/jquery/jquery.min.js"></script>
    <script src="/Admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/Admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="/Admin/dist/js/adminlte.js"></script>
    <script src="/Admin/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="/Admin/plugins/raphael/raphael.min.js"></script>
    <script src="/Admin/plugins/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="/Admin/plugins/jquery-mapael/maps/usa_states.min.js"></script>
    <script src="/Admin/plugins/chart.js/Chart.min.js"></script>
    <script src="/Admin/dist/js/demo.js"></script>
    @RenderSection("Scripts",false)
</body>
</html>

