@model BiletSummary

<div class="row">
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Bilet Bilgi Sitemi</h3>

                <h1><i class="bi bi-check-circle"></i></h1>
            <h1>
                Bilet Alma İşleminiz Başarıyla Sonuçlanmıştır.
            </h1>
                
            <h3>@Model.SeferNumber</h3>

            <h1>Sağlıklı Yolculuklar Dileriz</h1>
                

                
         
        </div>

       
    </div>
</div>
</div>
